/* .user-message {
    display: flex;
    justify-content: end;
    align-items: start;
}

.bot-message {
    display: flex;
    justify-content: start;
    align-items: start;

}

.user-message img,
.bot-message img {
    width: 50px;
    border-radius: 50%;
}

.message-u-sent {
    background-color: #00000039;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: black;
    max-width: 300px;
}

.chat-time {
    margin-top: 7px;
    color: #008062;
} */